.modal-confirmacion .ant-modal-content {
    border-radius: 12px; 
    border: 2px solid #1677ff; 
    background-color: #f8fafa; 
    padding: 0; 
    overflow: hidden;
}
.modal-contenido {
    text-align: center;
    padding: 24px; 
    padding-top: 15px; 
}

.modal-botones {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.modal-header-color {
    background-color: #387478; 
    height: 40px; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.boton-aceptar {
    background-color: #3c7072;
    color: white;
    border-radius: 6px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
.boton-cancelar {
    background-color: #f5f5f5;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}